@font-face {
    font-family: myFont;
    src: url(./oldenburg-regular-webfont.woff);
    src: url(./oldenburg-regular-webfont.woff2);
}

body{
    display: flex;
}

h1{
    font-family: myFont;
    font-size: 10rem;
    color: rgb(70, 66, 66);
}

.side-image{
    position: relative;
    overflow: hidden;
    width: 3000px;
    height: 100vh;
    opacity: 0.8;
}

.logo{
    position: absolute;
    width: 3000px;
    height: 600px;
    top: 800px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(246, 239, 239, 0.5);
}


