@font-face {
    font-family: myFont;
    src: url(./oldenburg-regular-webfont.woff);
    src: url(./oldenburg-regular-webfont.woff2);
}

body{
    display: flex;
}

h1{
    font-family: myFont;
    font-size: 10rem;
    color: rgb(70, 66, 66);
}

h2{
    font-size: 5rem;
    margin: 100px;
}

.upper{
    width:50vh;
}

.side-image{
    position: relative;
    overflow: hidden;
    width: 50vw;
    height: 100vh;
    opacity: 0.8;
}

.logo{
    position: absolute;
    width: 50vw;
    height: 600px;
    top: 800px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(246, 239, 239, 0.5);
}

.right{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


